<div id="search_criteria">
	<%= form_for :wide_table, :url => {:action => 'find_results'}, :remote => true do %>
	<table>
		<tr>
			<td>First&nbsp;name</td>
			<td><input type="text" name="first_name"/></td>
		</tr>
		<tr>
			<td>Last&nbsp;name</td>
			<td><input type="text" name="last_name"/></td>
		</tr>
		<tr>
			<td>Owner, Purchaser, etc.</td>
			<td><input type="text" name="owner_purchaser_etc"/></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:left;font-weight:normal;">
				<input type="checkbox" name="use_soundex" value="1"/>
				Find similar sounding names too.
			</td>
		</tr>
		<tr>
			<td>Birth Year</td>
			<td>
				<input type="text" name="birth_year" size="10"/>
				<select name="birth_year_range">
					<option value="">+/- 0</option>
					<option value="1">+/- 1 yr</option>
					<option value="5">+/- 5 yrs</option>
					<option value="10">+/- 10 yrs</option>
					<option value="25">+/- 25 yrs</option>
					<option value="50">+/- 50 yrs</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Record&nbsp;Year</td>
			<td>
				<input type="text" name="record_year" size="10"/>
				<input type="text" name="record_year_end" size="10"/>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="tiny-text">Enter a second year to search for a range of years.</td>
		</tr>
		</table>
		<!--
		<p class="note-text">For each of the following options, uncheck all to select all records.  
		Select one or more to narrow your search to records that contain any of the checked terms.</p>
		-->
		<div class="inputs">
			<b>Race</b><br/>
			<input type="checkbox" name="race[]" value="B">black (B)</input>
			<input type="checkbox" name="race[]" value="W">white (W)</input>
			<input type="checkbox" name="race[]" value="M">mulatto (M)</input>	
			<br/>
			<b>Gender</b><br/>
			<input type="checkbox" name="gender[]" value="female">female</input>
			<input type="checkbox" name="gender[]" value="male">male</input>
			<br/>
			<b>Source Table</b><br/>
			<% @tables.each do |t|%>
				<input type="checkbox" name="tables[]" value="<%= t.id %>"><%= t.title%><br/>
			<% end %>
			<br/>
			<div style="float:right;">
			<input type="submit" value="Search"/>
			<input type="reset" value="Start Over"/>
			</div>
		</div>
	<% end %>
</div>
<div id="search_results">
</div>
<div id="view_result">
</div>
