html, body {
	font-family: Calibri, Helvetica, Arial, sans-serf;
	border: none !important;
	margin: 0px;
	background: url('../assets/bg2.gif');
}

th {
	text-align: left;
}
#left_column {
	width:  25%;
	float: left;
	padding-left: 5px;
}
.alert, .notice, .login {
	padding-left: 10px;
}
#search_criteria {
	padding: 5px;
}
#results {
	width: 70%;
/*	height: 100%;*/
	float: right;
	overflow: auto;
	padding: 5px;
/*	border: 1px solid;	*/
}
#search_results {
/*	width: 100%;*/
	height: 450px;
/*	float: right;*/
	overflow: auto;
	padding: 5px;
	border: 1px solid;
}
#view_result {
/*	position: absolute;*/
	top: 470px;
/*	left: 25%;*/
/*	right: 0px;*/
/*	width: 100%;*/
	height: 300px;
	padding: 5px;
	border: 1px solid;
	overflow: auto;
}

#dock {
/*	position: absolute;
	top: 600px;
	left: 10px;
	height: 100px;
*/
 padding: 15px;
}

.remove_link {
	color: red !important;
}
#name_error {
	color: red;
}
ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}
.header-block {
	margin: 0px;
	padding: 0px;
	height: 115px;
	background-color:grey;
	color:white;
}
.home {
	position: relative;
	float: left;
	top:70px;
	left: 25px;
	font-size:18pt;	
}
.header-title {
	position: relative;
	float: left;
	top:7px;
	left: 20%;
	font-size:18pt;	
}
.menu {
	padding: 10px;
	position: relative;
	float: right;
  list-style: none;	
	color: white;
}
.menu a {
	color:white;
	text-decoration: none;
}