<!DOCTYPE html>
<html>
<head>
  <title>AafDb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

    $(function(){
      $(".containerPlus").buildContainers({
        containment:"document",
        elementsPath:"../assets/",
        mantainOnWindow:false
      });
    });
    
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
